known_hosts*
.ssh/id_*
.ssh/*.pem
github_deploy*
.env

# Configs with embedded secrets
so_config.yml
xrc
todoist_config.json
# Runtime state written by backup-ai-sessions.sh and its shell trigger
logs/
